* {
    -webkit-tap-highlight-color: rgba(0,0,0,.7); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

html, body {
    -x-apple-data-detectors: false;
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color: #222;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    margin:0;
    padding:0;
    overflow-x: hidden;
    color: white;
}

input[type="button"], input[type="submit"] {
    background-color: #222;
    border-radius: 4px;
	border: 1px solid white;
	font-family: arial;
	font-size: 15px;
	font-weight: bold;
	padding: 5px 15px;
	text-decoration: none;
    color: white;
}

a {
    
}

/* Portrait layout (default) */
#app {
    min-width: 225px;
    max-width: 98%;
    text-align: center;
    margin: 10px auto;
}

#deviceStatus {
    border-radius: 4px;
    color: #FFF;
    padding: 2px;
    background-color: #444;
    line-height: 20px;
    text-transform: uppercase;
    text-align: center;
    margin: -15px auto 10px auto;
    max-width: 225px;
}

#regButton, #unregButton {
    margin: 0 auto; 
}

#menu {
    border: 1px solid #777;
    background-color: #333;
    color: white;
    margin: 0 auto;
    max-width: 500px;
    padding: 0;
}

#appOptions {
    position: relative;
    height: 125px;
    background-color: #333;
    border: 1px solid #777;
    margin: 5px;
    color: white;
    display: none;
    padding: 5px;
}

#regOptions {
    position: absolute;
    bottom: 5px;
    right: 5px;
}

#otherOptions {
    position: absolute;
    bottom: 5px;
    left: 5px;
}

#action {
    background-color: black;
    color: white;
    min-height: 100px;
    text-align: left;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #555;
}

#actionClose {
    position: absolute;
    top: -10px;
    right: 5px;
}

#actionRefresh {
    position: absolute;
    top: -10px;
    right: 55px;
}

#login {
    color: white;
    text-align: left;
    width: 200px;
    border: 1px solid white;
    margin: 0 auto;
    padding: 10px;
    border-radius: 5px;
}

#map {
    position: absolute;
    top: 30px;
    height: 200px;
    width: 100%;
    background-color: #444;
    display: none;
}

#map-canvas {
    width: 100%;
}

.callClick {
    text-align: left;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #555;
}

.textNoWrap {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.menuItem {
    text-align: center;
    line-height: 25px;
}

.menuItemTouch {
    background-color: #777;
}

.bigger {
    font-size: 14px;
}

.complete {
    color: #777;
}

.active {
    
}

.bold {
    font-weight: bold;
}

.indent {
    margin: 5px 10px;
}



